# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.tsbuildinfo
